@media screen and (min-device-width: 768px) {
	.article-preview--body {
		min-height: 125px;
		margin-top: 20px;
	}

	.article-readmore-bar {
		margin-top: 10px;
		bottom: 58px;
		position: absolute;
	}
}

@media screen and (max-device-width: 1023px) {
	.article-title, .main-sidebar--widget-header {
		font-size: 1.3rem;
	}

	#sidebar {
		display: none;
	}
}

@media screen and (device-width: 1024px) {
	.article-title, .main-sidebar--widget-header {
		font-size: 1.3rem;
	}
}