body {
	// background: url(../img/code.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height:100%;
}

nav {
	font-weight: 500;
	font-family: 'Saira Extra Condensed',serif;
	font-size: 1.35rem;
}

.navbar {
	background-color: transparent;
	background: transparent;
	border-color: transparent;
}

.navbar-brand {
	text-transform: uppercase;
	transform: rotate(-8deg);
	font-size: 2.05rem;
}

.main-wrapper {
	margin-top: 5px;
}

.main-sidebar {
	font-family: 'Open Sans Condensed', sans-serif;
}

.main-sidebar--widget {
	margin-bottom: 10px;
	font-size: 0.8rem;
	font-weight: 700;
}

.main-sidebar--widget-header {
	font-weight: 500;
	font-size: 1.35rem;
	font-family: 'Saira Extra Condensed',serif;
	background-color: #6c757d;
	color: #fff;
}

.article-header {
	background-color: #6c757d;
}

.article-title {
	font-weight: 500;
	font-size: 1.3rem;
	font-family: 'Saira Extra Condensed',serif;
	color: #fff;
}

.article-date {
	font-weight: 500;
	font-size: 1.1rem;
	font-family: 'Saira Extra Condensed',serif;
}

.article-readmore-bar {
	margin-top: 10px;
}

.article-preview--body {
	margin: 5px 5px 3px 10px;
	font-size: 0.9rem;
}

 .article-preview--footer {
	margin: -5px 5px 5px 10px;
	font-size: 0.7rem;
}

a.article-category-link {
	color: #0b8092;
	font-size: 0.7rem;
	font-weight: bold;
}

.article-tag-list {
	display: inline;
	padding: 0;
}

.article-tag-list-item {
	display: inline;
	margin-right: 2px;
}

a.article-tag-list-link {
	background-color: #d63965;
	color: #fff;
	padding: 0 2px 2px 2px;
	border-radius: 3px;
	font-weight: bold;
}


a.archive-article-date, .archive-article-date {
	color: #fff;
	margin-left: 15px;
	font-weight: 600;
	font-family: 'Saira Extra Condensed',serif;
	font-size: 1.3rem;
}

a.archive-article-title {
	color: #fff;
	margin-left: 25px;
	font-weight: 600;
	font-family: 'Saira Extra Condensed',serif;
	font-size: 1.3rem;
}

.archive-list {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
}

.archive-list-item {
	position: relative;
	display: block;
	padding: .75rem 1.25rem;
	margin-bottom: -1px;
}

.archive-post-link {
	color: #181719;
	font-weight: 600;
	font-family: 'Saira Extra Condensed',serif;
	font-size: 1.0rem;
}

.archive-year {
	font-weight: 500;
	font-size: 1.9rem;
	font-family: 'Saira Extra Condensed',serif;
	color: #fff;
}

.archive-date {
	font-weight: 500;
	font-size: 1.4rem;
	font-family: 'Saira Extra Condensed',serif;
}

.footer {
	margin:  10px 0 10px 0;
	color:#ffffff80;
	font-weight: 500;
	font-size: 1.2rem;
	font-family: 'Saira Extra Condensed',serif;
	//position:absolute;
	//width: 100%;
	//bottom:0;
}

.footer a {
	color: #fff;
}

.page-number {
	position: relative;
	display: block;
	padding: .5rem .75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #007bff;
	background-color: #fff;
	border: 1px solid #dee2e6;
}

.current {
	z-index: 1;
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.prev, .next {
	position: relative;
	display: block;
	padding: .5rem .75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #007bff;
	background-color: #fff;
	border: 1px solid #dee2e6;
}

.hr-nav {
	background-color: #fff;
}